<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>download video from youtube</title>
</head>

<body>
    <form action="" method="post">
        <div style="margin-top:15%; padding-left: 35%">
            <h2>Download video from YouTube</h2>
            <label for="text">Link fro youtube</label>
            <input type="text" id="url" name="url" style="width:40%" placeholder="Link...">
            <button type="submit">Download</button>
        </div>
    </form>

</body>

</html>